## Ignore Visual Studio temporary files, build results, etc.

# User-specific files
*.suo
*.user

# Build results
VS*/
[Dd]esktop_*/
GeometryFX_Sample_Debug_*.*
GeometryFX_Sample_Release_*.*
amd_geometryfx/lib/GPUOpen_GeometryFX_*.*
amd_geometryfx_sample/bin/

# Visual Studo 2015 cache/options directory
.vs/

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Installshield output folder
[Ee]xpress/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# Shader cache
[Bb]in/Shaders/
HashDigest.html
